/*
	These styles were extracted from bootstrap,
	so, if you already use bootstrap, you don't
	need this.
*/

.alert
{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info
{
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-warning
{
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #c9dc81;
}

.alert-success
{
color: #FFF;
font-family: 'Rubik', sans-serif;
font-size: 1.5rem;
background-color: #2e241c;
}

.close
{
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	display: none;
}

.close:hover,
.close:focus
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}