// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "../vendor/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

.bg-default {
  color: #000000 !important;
}

.dt-buttons {
  display: none !important;
}

.dataTables_length {
  position: absolute;
}

.card {
  visibility: hidden;
}

.table th, .table td {
  vertical-align: middle;
}

.selectColumn {
  text-align: center;
  vertical-align: middle;
}

.statusArea {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.multipleDelete:hover,
#dataTable tr {
  cursor:pointer;
}

th a {
  color: #858796;
  &:hover {
    color: red !important;
    text-decoration: none;
  }
}

#dataTable tbody tr:hover {
  background: #f2f2f25c !important;
}

.dividerBorder {
  border-right:1px solid #f2f2f2 !important;
}

/*.table th, .table td {
  !* padding: 0.75rem; *!
  padding: 0;
  padding-left: 10px;
  padding-top: 10px !important;
  vertical-align: middle;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
  padding-left: 10px;
  border: none !important;
}

.table thead th {
  border: none;
}

.table tbody tr:hover {
  background: #f2f2f2;
  cursor: pointer;
}*/

